<section class="gallery">
  <div class="container">
    <h2>Чому Хатинка Лапок</h2>

    <div class="swiper gallery-slider js-gallery-slider">
      <ul class="swiper-wrapper">
        <li class="swiper-slide">
          <img
            class="gallery-slider-ill"
            src="./img/about/img-1.jpg"
            alt="img 1"
            loading="lazy"
          />
        </li>
        <li class="swiper-slide">
          <img
            class="gallery-slider-ill"
            src="./img/about/img-2.jpg"
            alt="img 1"
            loading="lazy"
          />
        </li>
        <li class="swiper-slide">
          <img
            class="gallery-slider-ill"
            src="./img/about/img-3.jpg"
            alt="img 1"
            loading="lazy"
          />
        </li>
        <li class="swiper-slide">
          <img
            class="gallery-slider-ill"
            src="./img/about/img-4.jpg"
            alt="img 1"
            loading="lazy"
          />
        </li>
        <li class="swiper-slide">
          <img
            class="gallery-slider-ill"
            src="./img/about/img-5.jpg"
            alt="img 1"
            loading="lazy"
          />
        </li>
      </ul>

      <!-- If we need navigation buttons -->
      <button
        class="swiper-button-prev gallery-slider-btn"
        type="button"
      ></button>
      <button
        class="swiper-button-next gallery-slider-btn"
        type="button"
      ></button>
    </div>
  </div>
</section>
